
* {
    box-sizing: border-box;
}

.galeria img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f5f6f7;
}

.cabeçalho {
text-align: center;
text-transform: uppercase;
padding: 32px;
background-color: #0a0a23;
color: #fff;
border-bottom: 4px solid #fdb347;
}

.galeria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    max-width: 1400px;
    margin: 0 auto;
gap: 16px;
}

.galeira::after {
    content: "";
    width: 350px;
}
.menu {
    padding: 10px 0;
}

.menu a {
    color: #fff; /* Cor do texto */
    text-decoration: none; /* Tira o sublinhado */
    font-size: 18px; /* Tamanho da fonte maior */
    margin: 0 15px; /* Espaçamento entre os links */
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s; /* Efeito suave ao passar o mouse */
}

.menu a:hover {
    background-color: #fdb347; /* Cor da borda do header para destaque */
    color: #0a0a23; /* Cor do fundo do header */
}